@import "../shared/styles/cards";

h2 {
  font-family: Roboto Condensed,Helvetica,Arial,sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #404040;
  line-height: 1.35;
}

p {
  color: #848484;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

section {
  padding: 20px;
}

