<article>
  <div class="card card-backgroud card-border">
    <div class="card-block">
      <section>
        <h2>PHONEMIC</h2>
        <div>
          <div>
            <article>
              <p>
                The International Phonetic Alphabet <strong>(IPA)</strong> is an alphabetic system of phonetic notation based primarily on the Latin alphabet.
                It was devised as a standardized representation of the sounds of spoken language.
              </p>
              <p>
                <a target="_blank" href="https://englishpost.org/the-british-council-interactive-phonemic-chart/">
                  THE BRITISH COUNCIL INTERACTIVE PHONEMIC CHART
                </a>
              </p>
            </article>
          </div>
        </div>
      </section>
    </div>
  </div>
</article>
