app-root {
  min-height: 100vh;
  min-width: 100vw;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  background-color: #ececec;
  background-size: 250px 250px;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-image: url(https://png2.kisspng.com/sh/a1862721b0570f31da87a409fb510a55/L0KzQYm3V8AzN6l4jpH0aYP2gLBuTfxwdpV0hp9rcnn3ecTvTfVvb51ui9o2bHHxd8bohBUue5Rth9H1LUXlQ4rthskybWM7edgCLkK2R4SCVcQ0OWY4SKc7N0a2Q4q5V8QveJ9s/kisspng-london-british-english-language-school-5b39ff91e26af7.2373954315305276339274.png);
}

