* {
  font-family: Roboto,Helvetica,Arial,sans-serif;
}

h1 {
  font-size: 45px;
  font-weight: 700;
  color: #404040;
  margin: 16px 0;
  margin-bottom: 12px;
  margin-top: 36px;
  text-transform: capitalize;
}

h2 {
  font-family: Roboto Condensed,Helvetica,Arial,sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #404040;
  line-height: 1.35;
}

p {
  color: #848484;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;

  & a {
    line-height: 2;
  }
}
